*, *:before, *:after {
    box-sizing: border-box;
}
  
.dark-background {
    background: #3b434b;
    text-align: center;
}

/* 往下開始nav */

.navbar{
    height: 90px;
} 
  
.container{
    max-width: 1140px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    line-height: 90px; 
}

.logo img{
    width: 140px;
}

.navtop {
    float: right;
    text-align: left;
    line-height: 80px;  
}

.navtop-link {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding-right: 15px;
}

.navtop-link:hover{
    /* 當滑鼠經過時，字顏色改變 */
    color: rgb(202, 199, 199);  
}

.flag{
    padding-right: 15px;
}

.flag img{
    vertical-align: middle;
    width: 25px;
}

.navtop-btn{
    color: #fff;
    font-size: 14px;
    font-weight:lighter;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 6px 25px;
    text-decoration: none;
    margin-right: 8px;
}

.navtop-btn:hover{
    /* 當滑鼠經過時，背景顏色改變 */
    background: #00bbcc;  
    border: 1px solid #00bbcc;
}

/* 往下開始main site-container01 */

.site-container01 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    height: 390px;
    padding-left: 15px;
    padding-right: 15px;
}

.all-plans{
    color: #fff;
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    display: block;
    line-height: 100px;
    padding-top: 100px;
}

.try30days{
    padding-bottom: 20px;
    text-align: center;
    color: #adadad;
    font-size: 26px;
    font-weight: lighter;
}

.trynow-btn-outer{
    text-align: center;
    padding-top: 30px;
}

.trynow-btn{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: lighter;
    background-color: #00bbcc;
    border: 1px solid #00bbcc;
    padding: 6px 36px;
    border-radius: 50px;
}

.trynow-btn:hover{
    background-color: #3b434b;
    border: 1px solid #fff;
    color: #FFF;
    font-size: 14px;
    font-weight: lighter;
    padding: 6px 36px;
    border-radius: 50px;
}

/* 往下開始main site-container02 */

.site-container02{
    height: 620px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 40px;
    text-align: center;    
    border-bottom: 1px solid #dadfe1
}

.basic{
    display: inline-block;
    border: 1px solid #dadfe1;
    border-radius: 5px;
    height: 460px;
    width: 32%;
}

.premium{
    display: inline-block;
    border: 1px solid #dadfe1;
    border-radius: 5px;
    height: 520px;
    width: 32%;
    padding-top: 30px;
    background-color: #33678c;
}

.advance{
    display: inline-block;
    border: 1px solid #dadfe1;
    border-radius: 5px;
    height: 460px;
    width: 370px;
}

.title01{
    font-size: 36px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 10px;
}

.title01-premium{
    font-size: 36px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 10px;
    color: #fff
}

.title02{
    font-weight: lighter;
    text-align: center;
    padding-bottom: 50px;
}

.title02-premium{
    font-weight: lighter;
    text-align: center;
    padding-bottom: 50px;
    color: #cee7fd;
}

.plan-price{
    color:#264C79;
    font-size: 45px;   
    text-align: center;
    margin-bottom: 10px;
}

.plan-price-premium{
    color:#fff;
    font-size: 45px;   
    text-align: center;
    margin-bottom: 10px;
}

.currency-month{
    font-size: 20px;
}

.currency-month-premium{
    font-size: 20px;
}

.yealy-paid{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
    text-align: center;
}

.yealy-paid-premium{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
}

.stars{
    list-style: none;
    padding-left: 0;
    color: #337ab7;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.stars-premium{
    list-style: none;
    padding-left: 0;
    color: #cee7fd;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.stars-li{
    margin-bottom: 15px;
}

.signup-btn-outer{
    text-align: center;
    padding-top: 30px;
}

.signup-btn{
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 15px
    margin-bottom: 60px;
    color: #575757;
    text-decoration: none;
    font-size: 16px;
    background-color: #f7f7f7;
    border: 1px solid #CBD4D8;
    padding: 15px;
    border-radius: 5px;
}

.signup-btn-premium{
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 15px
    margin-bottom: 60px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background-color: #00bbcc;
    border: 1px solid #00bbcc;
    padding: 15px;
    border-radius: 5px;
}

.signup-btn:hover{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px
    margin-bottom: 30px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    background-color: #f7f7f7;
    border: 1px solid #333;
    padding: 15px;
    border-radius: 5px;
}

.signup-btn-premium:hover{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px
    margin-bottom: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    background-color: #33678c;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 5px;
}

/* 往下開始main site-container03 */

.site-container03{
    height: 630px;
    text-align: center;  
}

.all-plans-contain{
    color: #666666;
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 88px;
}

.image00{
    display: inline-block;
    width: 24%;
    height: 128px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 60px;
}

.p-titles{
    color: #666666;
    font-size: 20px;
}

/* 往下開始main site-container04 */

.site-container04{
    height: 600px;
    text-align: center;  
    background-color: #F6F6F6;
}

.faq{
    color: #333;
    font-size: 32px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.faq-sections-outer{
    margin-left: auto;
    margin-right: auto;
}

.faq-sections{
    width: 50%;
    height: 210px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
    float: left;
    text-align: left;
}

.faq-title{
    color: #333;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq-content{
    color: #666666;
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 70px;
}

/* 往下開始main site-container05 */

.site-container05{
    height: 220px;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}

.open-now{
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-top: 50px;
    text-align: left;
}

.form-inline{
    padding-top: 20px;
}

.form-email-outer{
    display: inline-block;
    text-align: center;  
    margin-right: -5px;
}

.form-email{
    width: 400px;
    height: 48px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 12px 20px 15px 15px;
    border-radius: 5px 0 0 5px;
    margin-right: 0;
}

.btn-email{
    height: 48px;
    color: #fff;
    text-decoration: none;
    background-color: #00bbcc;
    border: 1px solid #00bbcc;
    border-radius: 0 5px 5px 0;
    margin-left: 0;
    padding: 12px 20px 15px 15px;
}

.btn-email:hover{
    color: #fff;
    text-decoration: none;
    background-color: #00bbccb9;
    border: 1px solid #00bbccb9;
    padding: 12px 20px 15px 15px;
    border-radius: 0 5px 5px 0;
}

.free-30days{
    color: #00bbccb9;
    font-size: 14px;
    font-weight: lighter;
    padding: 15px 0 0 0;
    text-align: left;
}

/* 往下開始main site-container06 */

.site-container06{
    height: 350px;
    padding:px;
}

.partner{
    color: #333;
    font-size: 32px;
    text-align: center;
    padding: 30px 0 5px 0;
}

.partner-logo-outer{
    padding: 0 30px 0 30px;
    margin-left: auto;
    margin-right: auto;
}

.partner-logo{
    display: inline-block;
    text-align: center;
    margin: 30px 0 30px 0;
    padding: 0 15px 0 15px;
    width: 24%;
}

.partner-logo-img-tasihin{
    width: 258px;
}

/* 往下開始footer */

.site-container-footer{
    height: 485px;
    background: #2e3741;
    text-align: center;
}

.sponsor-outer{
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0 50px 0;
    display: inline-block;
}

.sponsor{
    display: inline-block;
    text-align: center;
}

.sponsor-img{
    padding: 0 5px 0 5px;
    margin-left: auto;
    margin-right: auto;
}

.main-footer{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 70%;}

.field-1{
    display: inline-block;      
    text-align: left;
    width: 28%;
}

.field-2{
    display: inline-block;
    text-align: left;
    width: 28%;
}

.field-3{
    display: inline-block;
    text-align: right;
    width: 39%;
}

.field-ul{
    list-style: none;
    padding-left: 0;
    color: #fff;
}


.field-ul a{
    text-decoration: none;
    color: #cacbcc;
    font-size: 14px;
    font-weight: lighter;
}

.field-ul a:hover{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
}


.field-li{
    margin-bottom: 20px;
}

.copyright{
    margin: 0 130px 0 130px;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
}