*, *:before, *:after {
    box-sizing: border-box;
  }
  

  .dark-background {
    background: #2e3741;
  }


.navbar{
    height: 90px;
    top: 0;
    width: 100%;
    border: 1px solid transparent;

} 
  


.container{
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 118.5px;
    margin-right: 118.5px;
}


.inner{
    display: block;
    height: 90px;
}


.logo{
    display: inline-block;
    top: 50%;
    transform: translateY(150%);
    
}


.logo img{
    width: 140px;
    vertical-align: middle;

}


.pull-left {
    float: left !important;
}

.navtop {
    top: 50%;
    transform: translateY(-20%);
}

ul.navtop {
    text-align: left;
    list-style-type: none;
    padding: 0;
    line-height: 90px;
    display: inline-block;
}

.pull-right{
float: right !important;
}


ul {
    list-style: none;
}


.navtop li .navtop-link {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    height: 61px;
}


.navtop ul ,
.navtop li {
    display: inline;
    list-style: none;
    float: left;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

.langicon img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}


.navtop li a.grey-login {
    opacity: 1;
}


.grey-login:link, .grey-login:visited{
    font-size: 14px;
    border-radius: 50px;
    line-height: 20px;
    color: #FFF;
    padding: 8px 25px !important;
    border: 1px solid #fff;
    transition: color 0.1s linear,background-color 0.1s ease-in-out,border-color 0.1s ease-in-out;
}

    /* 往下開始main site-container01 */




.site-container {
    max-width: 1140px;
  
    /* 水平置中這個元素 */
    margin-left: auto;
    margin-right: auto;
  }



  .site-container01 {
    width: 1409px;
    margin-left: auto ;
    margin-right: auto;
    height: 395px;
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/static.shoplineapp.com/web/v7/index-hero-bg.jpg);
    background-position: center top;
    background-size: cover;
  }


.site-container01-1 {
    width: 1409px;
    margin-left: 119.5px ;
    margin-right: 119.5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 395px;

  }


.titles01{

}



.all-plans{

}


.try30days{

}


.trynow-bottom{

}

